<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="server=127.0.0.1;uid=student;pwd=student;database=pc_store" name="mysql"/>
	</connectionStrings>
	<appSettings>
		<add key="adminUsername" value="admin"/>
		<add key="adminPassword" value="admin"/>
	</appSettings>
</configuration>